<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<div id="app">
    
		<header class="d-flex justify-content-center align-items-center">
			<div class="container d-flex justify-content-center align-items-cente">
				<p class="header-text"><%= title %></p>
			</div>
			<div class="select-lang-wrapper">
				<a class="mobile-lang" v-on:click="showSelectLang=reverse(showSelectLang);">
					{{lang.current}}
				</a>
				<ul v-bind:class="{active:showSelectLang}">
					<li>
						<a class="ru"
						v-on:click="lang.current='ru';showSelectLang=reverse(showSelectLang);"
						v-bind:class="{active:lang.current=='ru'}"></a>
					</li>
					<li>
						<a class="cn"
						v-on:click="lang.current='cn';showSelectLang=reverse(showSelectLang);"
						v-bind:class="{active:lang.current=='cn'}"></a>
					</li>
					<li>
						<a class="usa"
						v-on:click="lang.current='usa';showSelectLang=reverse(showSelectLang);"
						v-bind:class="{active:lang.current=='usa'}"></a>
					</li>
				</ul>
			</div>

			<div class="link-to-support">
				<a href="https://vk.com/id_777k" target="_blank" class="vk"></a>
				<a href="https://www.facebook.com/kostya.ostrovsky2" target="_blank" class="fb"></a>
			</div>
		</header>

		<main>
			<div class="container">
				
				<div class="wrapper-app-data">
				
					<div class="form-settings">
						
						<div class="shadow-row-data">
							<p>{{lang[lang.current].inset}}</p>
							<a class="is-inset" v-on:click="inset=reverse(inset)" v-bind:class="{active:inset}"></a>
						</div>

						<div class="shadow-row-data">
							<p>{{lang[lang.current].horizontal}}</p>
							<range-slider 
								max="100" 
								min="-100"
								v-bind:model="horizontal_length"
								v-model="horizontal_length"></range-slider>
							
						</div>

						<div class="shadow-row-data">
							<p>{{lang[lang.current].vertical}}</p>
							<range-slider 
								max="100" 
								min="-100"
								v-bind:model="vertical_length"
								v-model="vertical_length"></range-slider>
						</div>

						<div class="shadow-row-data">
							<p>{{lang[lang.current].blur}}</p>
							<range-slider 
								max="200" 
								min="0"
								v-bind:model="blur"
								v-model="blur"></range-slider>
						</div>

						<div class="shadow-row-data">
							<p>{{lang[lang.current].spread}}</p>
							<range-slider 
								max="100" 
								min="-100"
								v-bind:model="radius"
								v-model="radius"></range-slider>
						</div>
						<!--
						<div class="shadow-row-data">
							<p>Opacity</p>
							<range-slider 
								max="1" 
								min="0"
								v-bind:model="opacity"
								v-model="opacity"></range-slider>
						</div>
						-->

						<div class="shadow-row-data flexed">
							<div class="shadow-row-data">
								<p>{{lang[lang.current].shadow_color}}</p>
								<chrome-picker v-model="shadow_color"></chrome-picker>
							</div>

							<div class="shadow-row-data">
								<p>{{lang[lang.current].box_color}}</p>
								<chrome-picker v-model="box_color"></chrome-picker>
							</div>
						</div>
						
					</div>

					<div class="demo-wrapper">
						<div class="demo-block" v-bind:style="{'background-color':box_color.out, 'box-shadow':shadow, opacity: opacity}">
							<a class="copy" v-bind:data-clipboard-text="shadowText">
								{{lang[lang.current].copy}}
							</a>
						</div>
					</div>

				</div>

			</div>
	

			<a class="donate-btn" data-fancybox data-src="#donate">
				<img src="/images/bag.svg" alt="" class="dotate-img">
				<span class="dotate-text">Money for beer</span>
			</a>
			<div style="display: none;"> 
				<div id="donate">
					<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=410014761721981&quickpay=donate&payment-type-choice=on&mobile-payment-type-choice=on&default-sum=50&targets=Money+for+beer&target-visibility=on&project-name=ShadowGenerator&project-site=&button-text=01&successURL=" width="522" height="117"></iframe>
				</div>
			</div>

			<div class="shares-wrapper">
				<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
				<script src="//yastatic.net/share2/share.js"></script>
				<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,telegram"></div>
			</div>

		</main>
		
	</div>
		<footer class="d-flex justify-content-center align-items-center">
			<div class="container d-flex justify-content-center align-items-cente">
				<p class="copyright">Copyright 2017. RubiumWeb by @ska and 
					<img src="/images/like.svg" alt="" class="footer_love"></p>
			</div>

			<script src="/bower_components/jquery/dist/jquery.min.js"></script>
			
			<link rel="stylesheet" href="/bower_components/noty/lib/noty.css">
			<script src="/bower_components/noty/lib/noty.min.js"></script>

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
			<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
			<script src="/bower_components/clipboard/dist/clipboard.min.js"></script>
			<script src="/node_modules/vue-color/dist/vue-color.min.js"></script>
			
			<script>

				var Photoshop = VueColor.Photoshop;
				var Chrome = VueColor.Chrome;

				var RangeSlider = {
				  
				  template: `<div class="range-wrapper">
				  				<div class="range-track">
					  				<div 
					  					class="range-slider"
					  					v-bind:style="{left:rangeX}"
					  					v-on:mousedown="isactive=1"
					  					v-bind:class={active:isactive}>
					  					</div>
				  				</div>
				  				<input type="number" v-model="value" class="range-value-input" v-on:input="setValueInput($event.target.value)"/>
				  			</div>`,
				  props: ['min','max','model'],
				  data: function() {
				  	return {
				  		rangeX: "0%",
				  		isactive: 0,
				  		inputValue: 0,
				  		value:0
				  	};
				  },
				  created: function () {
				  		var baseValue = this.model;
				  		if(this.min<0)	baseValue = Math.abs(this.min) + baseValue;

				  		if(this.model){
				  			var rangeX = baseValue / ( ( Math.abs(this.max) + Math.abs(this.min) ) / 100 );
				  			this.calcRange(rangeX);
	 			  		}

	 			  		/** BIND EVENTS TO SCROLL RANGE **/
	 			  		$(document).on({
	 			  			'mousemove': (event) => {
		 			  			event.preventDefault();
		 			  			this.updateRange(event);
		 			  		},
		 			  		'mouseup': (event) => {
		 			  			this.isactive = 0;
		 			  		}
	 			  		});
				  },
				  methods: {
				  	updateRange: function(event) {
				  		if(this.isactive){
				  			var rangeX = (event.pageX - $(this.$el).offset().left) / ($(this.$el).outerWidth(true) / 100);
				  			this.calcRange(rangeX);
				  		}
				  	},
				  	setValueInput: function (value) {

				  		if(this.min < 0) value = Math.abs(this.min) + parseInt(value);

				  		var rangeX = value / (( Math.abs(this.max) + Math.abs(this.min) )/100);
				  		this.calcRange(rangeX, false);
				  	},
				  	/**
				  	 * @param  {int} range ratio
				  	 * @return {void} set values to current object
				  	 */
				  	calcRange: function (rangeX, setValue = true) {
				  		
						if(rangeX > 100) rangeX = 100;
			  			if (rangeX <= 0 ) rangeX = 0;
			  			this.rangeX = parseInt(rangeX)+"%";

			  			var val = rangeX*( ( Math.abs(this.max) + Math.abs(this.min) )*.01);
			  			val = parseInt(this.min) + val;

			  			if(val<this.min) val = this.min;
			  			if(val>this.max) val = this.max;

			  			var fixed = 0;
			  			if(this.max < 5) fixed = 1;
			  			if(setValue)
			  				this.value = val.toFixed(fixed);

			  			this.$emit("input", val.toFixed(1));
				  	}
				  }

				};


				var lang = {
					current: "usa",
					usa: {
						inset: "Inset",
						horizontal: "Horizontal Length",
						vertical: "Vertical Length",
						blur: "Blur Radius",
						spread: "Spread Radius",
						shadow_color: "Shadow Color",
						box_color: "Box Color",
						copy: "Copy code",
						copied: "Copied to clipboard!"
					},
					ru: {
						inset: "Внутренняя тень",
						horizontal: "Отступ слева",
						vertical: "Отступ сверху",
						blur: "Радиус тени",
						spread: "Радиус разброса",
						shadow_color: "Цвет тени",
						box_color: "Фон блока",
						copy: "Скопировать код",
						copied: "Скопировано в буфер обмена!"
					},
					cn: {
						inset: "插頁",
						horizontal: "水平長度",
						vertical: "垂直長度",
						blur: "模糊半徑",
						spread: "擴展半徑",
						shadow_color: "陰影顏色",
						box_color: "箱子顏色",
						copy: "複製代碼",
						copied: "複製到剪貼板!"
					}
				};

				var app = new Vue({
				  el: '#app',
				  data: {
				  	showSelectLang: false,
				  	lang: lang,
				    horizontal_length: 15,
				    vertical_length: 15,
				    blur: 15,
				    radius: 1,
				    shadow_color: {
				    	hex:"#8A8A8A",
				    	out:"#8A8A8A"
				    },
				    box_color: {
				    	hex:"#F0F0F0",
				    	out:"#F0F0F0"
				    },
				    opacity: 1,
				    shadow: "",
				    shadowText:"",
				    inset: false
				  },
				  components:{
				  	"range-slider": RangeSlider,
				  	'photoshop-picker': Photoshop,
				  	'chrome-picker': Chrome
				  },
				  methods:{
				  	compilecss: function() {
				  		var inset = (this.inset) ? "inset " : "";
				  		this.shadow = `${inset}${this.horizontal_length}px ${this.vertical_length}px ${this.blur}px ${this.radius}px ${this.shadow_color.out}`;
						this.compileCode();	  		
				  	},
				  	compileCode: function() { 
						this.shadowText = `-webkit-box-shadow: ${this.shadow};\n`;
						this.shadowText += `-moz-box-shadow: ${this.shadow};\n`;
				  		this.shadowText += `box-shadow: ${this.shadow};`;
				  		if(this.opacity < 1 ) this.shadowText += `\nopacity: ${this.opacity};`;
				  		this.shadowText += `\nbackground-color: ${this.box_color.out};`;
				  	},
				  	reverse: function(varible) {
				  		return (varible) ? false : true;
				  	},
				  	checkRgba: function(data) {
				  		var out = data.hex;
				    	if(data.a < 1){
				    		var v = data.rgba;
				    		out = `rgba(${v.r},${v.g},${v.b},${v.a})`
				    	}
				    	return out;
				  	}
				  },
				  mounted: function () {
				  	this.compilecss();
				  	var language = localStorage.getItem("lang");

				  	if(lang && typeof(this.lang[language]) == "object"){
				  		this.lang.current = language;
				  	}
				  },
				  watch: {
				   	 	horizontal_length: function() {	 this.compilecss(); 	},
					    vertical_length: function() {  	this.compilecss(); },
					    blur: function() {  this.compilecss(); },
					    inset: function() {  this.compilecss(); },
					    radius: function() {  this.compilecss(); },
					    shadow_color: {
					    	deep: true,
					    	handler: function() {   	
						    	this.shadow_color.out = this.checkRgba(this.shadow_color);
						    	this.compilecss();
					    	}
					    },
					    box_color: {
					    	deep: true,
					    	handler: function() {   	
						    	this.box_color.out = this.checkRgba(this.box_color);
						    	this.compilecss();
					    	}
					    },
					    opacity: function() {  	this.compilecss(); },
					    lang: {
					    	deep: true,
					    	handler: function() {
						    	localStorage.setItem("lang", this.lang.current);
						    }
					    }
				   }
				})
			</script>

			<script>
				jQuery(document).ready(function($) {
					clipboard = new Clipboard('.copy');
					clipboard.on('success', function(e) {
					    new Noty({
					    	text: app.lang[app.lang.current].copied,
					    	timeout: 1000
					    }).show();
					});
					$("body").on('click', '.copy', function(event) {
						event.preventDefault();
					});

					$("body").on('click', '.shadow-row-data > p', function(event) {
						event.preventDefault();
						$(this).next().toggleClass('active');
						$(this).toggleClass('active');
					});
				});
			</script>
		</footer>
  </body>
</html>
